.conversations {
    display: flex;
}

.conversationalists {
    flex-grow: 1;
    margin-left: -25px;
    border-right: 1px solid #efefef;
}

.conversationalist {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #efefef;
}

.conversationalist.active {
    background-color: #efefef;
}

.conversationalist:hover {
    background-color: #efefef;
}

.conversation {
    flex-grow: 3;
    padding: 0px 0px 0px 20px;
}

.messages {
    min-height: 300px;
    max-height: 500px;
    overflow-y: scroll;
    padding-top: 10px;
}

.message {
    margin-bottom: 15px;
}


.message.fromCurrentUser {
    text-align: right;
}

.message.fromCurrentUser > .messageContainer {
    background-color: #2196f3;
}

.message > .messageTimestamp {
    font-size: 9px;
    margin: 0px 6px;
}

.messageContainer {
    background-color: #888888;
    border-radius: 8px;
    padding: 14px 10px 8px;
    font-size: 13px;
    font-weight: 300;
    color: #ffffff;
    max-width: 65%;
    min-width: 100px;
    display: inline-block;
    position: relative;
    margin-bottom: 3px;
}

.messageSender {
    border-radius: 8px;
    background-color: #555555;
    color: #ffffff;
    position: absolute;
    top: -9px;
    right: 10px;
    padding: 3px 8px;
    font-size: 9px;
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    border: 1px solid white;
}

.messageSender.unread {
    background-color: red;
}

.noMessages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    font-weight: 300;
    color: #aaa;
}