.similarVenueByName {
    margin-top: 25px;
    background-color: #e8f0f8;
    border-radius: 8px;
    padding: 20px;
    font-weight: 300;
}

.similarVenueByNameTitle {
    font-size: 16px;
}

.similarVenueByNameItems {
    display: flex;
    overflow-y: scroll;
    max-width: 460px;
    padding: 20px 0px;
    margin: 0px -10px;
}

.similarVenueByNameItem {
    display: block;
    width: 145px;
    cursor: default;
    padding: 10px 10px 40px 10px;
    font-size: 12px;
    text-decoration: none;
    color: #000000;
    position: relative;
    min-height: 175px;
    min-width: 145px;
}

.similarVenueByNameItemName {
    max-width: 140px;
    font-weight: 500;
    font-size: 15px;
}

a.similarVenueByNameItemName {
    color: #000000;
}

.similarVenueByNameItemType {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 600;
    color: #777;
}

.similarVenueByNameItem:hover {
    border-radius: 8px;
    background-color: #ffffff;
}

.similarAddToFavoriteButtonContainer {
    position: absolute;
    bottom: 10px;
}

.similarAddToFavoriteButton {
    all: unset;
    cursor: pointer;
    /*color: #adcae6;*/
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 5px;
    padding: 7px 12px;
    /*margin-top: 10px;*/
    font-size: 11px;
    background-color: #0277bd;
    color: white;
}

.similarAddToFavoriteButton:hover {
    opacity: 0.7;
}