.reviewRow {
    margin: 20px 50px 0px 0;
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
}

.reviewRowHeader {
    display: flex;
    height: 40px;
    align-items: center;
    font-weight: 600;
}

.reviewRowBody {
    font-size: 13px;
    color: #555;
}